.move-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    /* margin: 20px; */
}

.movie-cards{
    padding: 6rem 6rem;
}

.card-details{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}